body {
    background-color: #333;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #24252A;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #008080;
}

.active {
    background-color: #008080;
}

.link {
    color: #edf0f1;
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252A;
    color: #edf0f1;
    text-align: left;
}
