body {
    background-color: #333;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
    color: #00ff00;
    text-decoration: none;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #24252A;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
    color: #00ff00;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #008080;
}

button {
  background-color: #333;
  border: 2px solid #24252A;
  color: #00ff00;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #edf0f1;
  color: #00ff00;
}

.active {
    background-color: #008080;
}

.link {
    color: #00ffff;
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252A;
    color: #00ff00;
    text-align: left;
}
